<div class="column is-4">
    <div class="block homeblock">
        <h1>Yo, I'm Kris 🔥</h1>
    <p>
        And this is my digital garden. Here you will find personal notes and ideas of mine that mostly aren't finalised.
    </p>
        
        <h2>Currently</h2>
    <p>
        Right now I'm on Level 25 of life. Currently I'm running my own webdesign business called <a href="https://krisnetics.com" target="_blank">Krisnetics</a>.
    </p>
        
    <p>
        With Krisnetics I create sales optimized and custom designed websites for my clients. Mostly I use the <a href="https://craftcms.com/" target="_blank">Craft CMS</a>.
    </p>
        
    <h2>Previously</h2>
    <p>
        I've worked for a few agencies so far and my last Job was as a Business Consultant for the public sector at CGI. Here I coded mostly in React.
    </p>
        
        <h2>Interests</h2>
    <p>
        I'm a really curious person but I'm most curious about fitness, coding, nature, self improvement, marketing, psychology, businesses and start ups. So these will propbably be topics you'll read a lot about here.
    </p>
    
    </div>
</div>
